<div class="jumbotron bg-white text-center">
    <h1 class="display-4 fw-bold">COVID-19 Tracker</h1>
    <hr>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ipsum laborum, porro et explicabo maiores! Dolores iure accusamus fugit totam.</p>
    <hr class="my-4">
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nulla officiis pariatur aut minus deleniti voluptate. Distinctio explicabo dolorem blanditiis!
    </p>
</div>